/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: url('./broomstick.png') 10 10, auto; /* Verplaats de hotspot als nodig */
    background: url('hexanexus.png') no-repeat center center;
    background-size: contain; /* Veranderd van 'cover' naar 'contain' */
    background-attachment: fixed;
    background-color: black; /* Optioneel: een kleur achter de afbeelding */
  }
  
  .container {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .title {
    font-size: 4rem;
    margin-bottom: 20px;
    animation: float 3s infinite ease-in-out;
  }
  
  .enter-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .enter-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .turbo-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    font-size: 1rem;
    color: white;
    background-color: darkred;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px darkred;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .turbo-button:hover {
    background-color: crimson;
    box-shadow: 0 0 15px crimson;
  }
  
  .star {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: gold;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 6px gold;
    animation: fade 1s ease-out forwards;
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(2);
    }
  }
  